{% extends 'base.html' %}

{% block app_content %}
<h1>Pending Requests</h1>
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link bg-danger active" href="#pending" data-toggle="tab">Pending Requests</a>
	</li>
	<li class="nav-item">
		<a class="nav-link bg-success" href="#accepting" data-toggle="tab">Accepting Requests</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="pending">
		{% if pending_associations %}
		<ul class="list-group">
			{% for association in pending_associations %}
			<li class="list-group-item" style = "margin: 5px;">
				{{ association.username }} (ID: {{ association.id }})
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No pending requests.</p>
		{% endif %}
	</div>

	<div class="tab-pane" id="accepting">
		{% if accepting_associations %}
		<ul class="list-group">
			{% for association in accepting_associations %}
			<li class="list-group-item" style = "margin: 5px;">
				{{ association.username }} (ID: {{ association.id }})
				<form action="{{ url_for('main.accept_association', association_id=association.id) }}" method="post" class="d-inline">
					<button type="submit" class="btn btn-primary btn-sm">Accept</button>
				</form>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No accepting requests.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
